Package: com.domg.openeropener
Name: openeropener
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Opens links via app Opener
Maintainer: domg
Author: domg
Section: Tweaks
